<div class="contain-head">
  <div class="contain-title">Entrada</div>
  <div class="breadcrumbs">
    <app-bread-crumb
    [textPrincipal]="'Listado Entradas,/input/list'"
    [textSecundary]="'Entradas'"
    ></app-bread-crumb>
  </div> 
</div> 
<p>Puede validar el resultado de las matrices en esta pagina: 
  <a href="https://es.onlinemschool.com/math/assistance/matrix/multiply/" title="Este vinculo fue tomado de internet, allí puede ingresar los valores generados por esta aplicación y validar si funcionó correctamente o no">Validar mi matriz</a> 
</p>
<div> 
  <button
  (click)="redirectCreate()"
  class="button button-default-primary">
  Ir a crear un nuevo proceso
</button>
</div>
<div *ngIf="!validResult" class="contain-title">  
  Esta definición de filas y columnas no generó multiplicación de matrices
</div>
<div class="basic-container">
  <div class="contain-main">
    <div class="contain-body">
      <div class="infoMatrixA"> 
        <h2>Matriz A</h2>
        <div class="infoMatrix">
          <form class="grid" [formGroup]="matrixAForm">
            <div class="rowsInfo">
              Filas:<input type="text" class="form-control" id="matrixARows" placeholder="rows A"  formControlName="rows" appNumericInput>
            </div>
            <div class="columnsInfo">
              Columnas:<input type="text" class="form-control" id="matrixAColumns" placeholder="Columns A"  formControlName="columns" appNumericInput>
            </div>
          </form>
          <div class="detail">
            <table> 
              <tr *ngFor="let row of dataMatrixA">
                <td *ngFor="let cell of row">
                  <input type="text" class="cellValue" id="matrixACell" [ngModel]="cell" [ngModelOptions]="{standalone: true}">
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="infoMatrixB">
        <h2>Matriz B</h2>
        <div class="infoMatrix">
          <form class="grid" [formGroup]="matrixBForm">
            <div class="rowsInfo">
              Filas:<input type="text" class="form-control" id="matrixBRows" placeholder="rows B" formControlName="rows" appNumericInput>
            </div>
            <div class="columnsInfo">
              Columnas:<input type="text" class="form-control" id="matrixBColumns" placeholder="Columns B" formControlName="columns" appNumericInput>
            </div>
          </form>
          <div class="detail">
            <table>
              <tr *ngFor="let row of dataMatrixB">
                <td *ngFor="let cell of row">
                  <input type="text" class="cellValue" id="matrixBCell" [ngModel]="cell" [ngModelOptions]="{standalone: true}">
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div> 
      <br>
      <div class="infoMatrixC">
        <h2>Matriz C</h2>
        <div class="infoMatrix">
          <form class="grid" [formGroup]="matrixCForm">
            <div class="rowsInfo">
              Filas:<input type="text" class="form-control" id="matrixCRows" placeholder="rows C" formControlName="rows" appNumericInput>
            </div>
            <div class="columnsInfo">
              Columnas:<input type="text" class="form-control" id="matrixCColumns" placeholder="Columns C" formControlName="columns" appNumericInput>
            </div>
          </form>
          <div class="detail">
            <table>
              <tr *ngFor="let row of dataMatrixC">
                <td *ngFor="let cell of row">
                  <input type="text" class="cellValueResult" id="matrixCCell" [ngModel]="cell" [ngModelOptions]="{standalone: true}">
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div> 
    </div>
  </div>
</div>  