<div class="matrix-info">
    <h2>Multiplicación de matrices</h2>
    <p>
      En matemáticas, particularmente en álgebra lineal, la multiplicación de matrices es una operación binaria que produce una matriz a partir de dos matrices. Para la multiplicación de matrices, el número de columnas de la primera matriz debe ser igual al número de filas de la segunda matriz. La matriz resultante, conocida como producto matricial, tiene el número de filas de la primera y el número de columnas de la segunda matriz. El producto de las matrices A y B se denota como AB.
    </p>
    <p>Para obtener más información, visita la <a href="https://en.wikipedia.org/wiki/Matrix_multiplication" target="_blank">página de Wikipedia sobre multiplicación de matrices</a>.</p>
    <div class="separator"></div>
    <div>
      <p>En la parte superior encontrará un select:</p>
      <p>1 - Seleccione la opción Satrada para ingresar información de matrices</p>
      <p>2 - Seleccione la opción Salida para consultar información de matrices</p>
      <p>3 - Puede validar el resultado de las matrices en esta pagina: 
        <a href="https://es.onlinemschool.com/math/assistance/matrix/multiply/" title="Este vinculo fue tomado de internet, allí puede ingresar los valores generados por esta aplicación y validar si funcionó correctamente o no">Validar mi matriz</a>
      </p>
    </div>
</div>
  