<div class="basic-container">
    <div class="contain-main">
      <div class="contain-body">
        <div class="infoMatrixA"> 
          <h2>Matrix A</h2>
          <div class="infoMatrix">
            <form class="grid" [formGroup]="matrixAForm">
              <div class="rowsInfo">
                <input type="text" class="form-control" id="matrizArows" placeholder="rows A"  formControlName="rows">
                <label for="matrizArows">rows Matriz A</label>
              </div>
              <div class="columnsInfo">
                <input type="text" class="form-control" id="matrizAColumns" placeholder="Columns A"  formControlName="columns">
                <label for="matrizBColumns">Columns Matriz A</label>
              </div>
            </form>
          </div>
        </div>
        <div class="infoMatrixB">
          <h2>Matrix B</h2>
          <div class="infoMatrix">
            <div class="rowsInfo">
              <input type="text" class="form-control" id="matrizBrows" placeholder="rows B">
              <label for="matrizArows">rows Matriz B</label>
            </div>
            <div class="columnsInfo">
              <input type="text" class="form-control" id="matrizBColumns" placeholder="Columns B" >
              <label for="matrizBColumns">Columns Matriz B</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  