<div class="contain-head">
  <div class="contain-title">Entrada</div>
  <div class="breadcrumbs">
    <app-bread-crumb
      [textPrincipal]="'Listado Entradas,/input/list'"
      [textSecundary]="'Entradas'"
    ></app-bread-crumb>
  </div> 
</div> 
<div *ngIf="!validResult" class="contain-title">  
  Esta definición de filas y columnas no permite crear una multiplicación de matrices. Si continúa se creará en estado inválido
</div>
<p>La matriz A y B se genera con unos datos aleatorios de 1 a 10, puede elegir esos datos o ingresar unos nuevos</p>
<div class="basic-container">
    <div class="contain-main">
      <div class="contain-body">
        <div class="infoMatrixA"> 
          <h2>Matrix A</h2>
          <div class="infoMatrix">
            <form class="grid" [formGroup]="matrixAForm">
              <div class="rowsInfo">
                Rows:<input type="text" class="form-control" id="matrixARows" placeholder="rows A"  formControlName="rows" appNumericInput>
              </div>
              <div class="columnsInfo">
                Columns:<input type="text" class="form-control" id="matrixAColumns" placeholder="Columns A"  formControlName="columns" appNumericInput>
              </div>
            </form>
            <div class="detail">
              <table> 
                <tr *ngFor="let row of dataMatrixA; let i = index">
                  <td *ngFor="let cell of row; let j = index">
                    <input 
                      type="text" 
                      class="cellValue" 
                      id="matrixACell_{{i}}_{{j}}" 
                      [(ngModel)]="dataMatrixA![i][j]">
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="infoMatrixB">
          <h2>Matrix B</h2>
          <div class="infoMatrix">
            <form class="grid" [formGroup]="matrixBForm">
              <div class="rowsInfo">
                Rows:<input type="text" class="form-control" id="matrixBRows" placeholder="rows B" formControlName="rows" appNumericInput>
              </div>
              <div class="columnsInfo">
                Columns:<input type="text" class="form-control" id="matrixBColumns" placeholder="Columns B" formControlName="columns" appNumericInput>
              </div>
            </form>
            <div class="detail">
              <table>
                <tr *ngFor="let row of dataMatrixB; let i = index">
                  <td *ngFor="let cell of row; let j = index"> 
                    <input 
                      type="text" 
                      class="cellValue" 
                      id="matrixACell_{{i}}_{{j}}" 
                      [(ngModel)]="dataMatrixB![i][j]"> 
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <button 
          (click)="generateTables()"
          class="button button-default-primary">
          GenerarTablas
        </button>
      </div>
    </div>
  </div>
  <br>
  <div *ngIf="showInsertButton" class="contain-title">  
    <button 
      (click)="saveTransaction()"
      class="button button-default-primary">
      Generar multiplicación de tablas y/o Guardar en bd
    </button>
  </div>
  